.adminTitle {
    text-align: center;
    font-size: 30px;
    margin:20px;
}

.productRow{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.adminProductTitle{
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.adminProductAvailable{
    position: relative;
    bottom: 30px;
    text-align: right;

}

.adminProductPrice{
    bottom: 35px;
    text-align: right;
    position: relative;

}

.adminNavBar{
    color: white;
    background-color: red;
    width: 200px;
    height: 40px;
    border: none;
    text-decoration-color: #D8DEE4;
}

.adminNavBar:hover{
    background-color: darkred;
}

.adminProductImg{
    width: 100px;
    margin-bottom: 10px;

}

.adminAddProduct{
    margin-top: 20px;
    border: 1px solid red;
    border-radius: 5px;
}

.adminAddProductTitle{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: red;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;

}

.adminAddProductInputDescr{
    height: 100px;

}

.adminAddProductInputs2{
    width: 90%;
    margin: 20px;
}

.adminAddProductInputs{
    width: 40%;
    margin: 20px;
}

.adminAddProductInputTitle{
}

.form-check-label{
    margin-right: 10px;

}

#display_image{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

.adminAddProductUpload:hover{
    background-color: green;
}

.adminAddProductUpload{
    color: white;
    background-color: red;
    height: 40px;
    border: none;
    text-decoration-color: #D8DEE4;
    float: right;
    width: 40%;
    margin-bottom: 10px;
}