.Course{
    padding: 10px;
    background-color: white;
    width: 250px;
    border: solid #b0afac;
    padding: 50px;
    margin: 20px;
}
.Course:hover{
    border-bottom: solid black;
    cursor: pointer;
}
.no-records {
    text-align: center;
    clear: both;
    margin: 38px 0px;
}