* {box-sizing:border-box}

.container{
    width: 70%;
}

body {

}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade1 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.fade1:hover{
    cursor: pointer;
}

@-webkit-keyframes fade1 {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade1 {
    from {opacity: .4}
    to {opacity: 1}
}

.hometext {
    font-size: 18px;
    color: white;
}

h1.hometitle{
    margin-top: 40px;
    color: red;
    font-size: 64px;
}

.homepageimg{
    width: 84%;
}

.homepagebutton {
    border: red;
    background-color: red;
    min-width: 220px;
    min-height: 40px;
    border-radius: 5px;
    margin: 30px;
}

.homepagebutton:hover{
    border: darkred;
    background-color: darkred;
}