b{
    color: red;
}
a:hover > b {
    color: darkred;
}

.navbar-default {
    border: black;
    border-radius: 0px;
    background-color: black;
}

body{
    background: rgb(126,126,126);
    background: linear-gradient(0deg, rgba(126,126,126,1) 0%, rgba(60,60,60,1) 38%, rgba(51,51,51,1) 53%, rgba(36,36,36,1) 67%, rgba(23,23,23,1) 95%);
    height: 100vh;
}