body {
   /* background: #3e4144; */
}

.form {
    margin: auto;
    width: 320px;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #F6F8FA;
    border:1px solid #D8DEE4;
}

.login-title {
    text-align: center;
    font-size: 30px;
    margin:20px;
}

.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: 90%;
}

.login-input:focus {
    border-color:#6e8095;
    outline: none;
}

.login-button {
    border: 1px solid green;
    border-radius: 5px;
    background-color: yellowgreen;
    width: 100px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.form .forgotPassword{
    margin-left: 20px;
    cursor: pointer;
}

.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}

.link a {
    color: #666;
}

h3 {
    font-weight: normal;
    text-align: center;
}
