.data{
    padding: 10px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    overflow: hidden;
    background-color: lightgray;
    text-align: center;
}
.header{
    padding: 20px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    overflow: hidden;
    background-color: white;
    text-align: center;
}
.inner{
    height: 32.5px;
}