.img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
table tr td{
    border:1px solid #FFFFFF;
}

table tr th {
    background:#eee;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

#btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: left;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}

.no-records {
    text-align: center;
    clear: both;
    margin: 38px 0px;
}

.form-control {
    width: 150px;
}
